* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  padding: 0;
  margin: 0;
}

.drink-list {
  margin: 0 auto;
  display: grid;
  width: 50rem;
  grid-gap: 1rem;
  grid-template-columns: 33% 33% 33%;
}

.drink-item {
  background-color: #f0f0f0;
  height: 16rem;
}

.drink-layout {
  display: flex;
  height: 100vh;
}

.drink-layout .left {
  flex: 0 60%;
  object-fit: cover;
}

.drink-layout .right {
  flex: 0 40%;
  padding: 2rem;
}
